html {
  overflow-y: hidden;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1, h2, h3, h4, h5, p, a, a:hover{
  color:#ffffff;
}

h5 {
  margin-top:-5px;
}

a:hover {
  text-decoration:underline;
}

#creators {
  margin-top:0;
}

.leftpic {
  padding-left:50px;
  padding-right:0;
}

.rightpic {
  padding-left:0;
  padding-right:50px;
}

.studybuddy {
  /*font-family:'Muli', sans-serif;*/
  letter-spacing: -2px;
  margin-top: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  background-color: white;
  color:#008CB2;
  overflow:auto;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.nav-pills li a {
  border: 1px solid transparent;
  color: #008CB2;
  font-size: 16px;
}

.nav-pills li a:hover {
  background-color:white;
  border : 1px solid #008CB2;
}

.container {
  padding:0;
}

/* Custom page footer */
.footer {
  padding-top: 5px;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  color: #777;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.container .jumbotron {
  border-radius:none;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color:  #008CB2;
}

.jumbotron h1 {
  color: white;
  font-size: 50px;
}

.jumbotron .Nervous {
  color : white;
  margin-top:15px;
}

.jumbotron .Connect {
  color : white;
  margin-bottom:25px;
  margin-top:-15px;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 20px;
  background-color: transparent;
  border : 1px solid white;
}

.jumbotron .btn:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}

.jumbotron .btn:hover {
  background-color: white;
  color:#008CB2;
}

form {
  margin: 0 auto;
  margin-bottom:10px;
}

form .btn {
  margin-top:15px;
}

.msg {
  color:#fff; 
  font-weight:300;
  font-style:italic;
  margin-top:20px;
  margin-bottom:-20px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    border-radius:6px;
  }

  .jumbotron h1 {
    font-size: 63px;
  }
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-    input {
  border: 1px solid #ffffff;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-    input:focus {
    border: 1px solid #005066;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}