<% include head.ejs %>
    <div>
      <div class="container">
        <div class = "jumbotron">
        <h1 class="studybuddy">StudyBuddy</h1>
        <center><p style="margin-top:20px;"> Developed for PennApps Spring 2014, StudyBuddy is an application  for helping students connect with their classmates to form study groups. </p></center>
        <hr class="half-rule">
        <div class="container">
          <h2 id="creators">Creators</h2>
          <div class="col-sm-6 leftpic">
            <img src="Graham.png" alt="Graham Batzler" width="90" height="90">
            <h4>Graham Batzler</h4>
            <h5><a href="https://twitter.com/GrahamBatzler">@GrahamBatzler</a></h5>
          </div>
          <div class="col-sm-6 rightpic">
            <img src="Eric.png" alt="Graham Batzler" width="90" height="90">
            <h4>Eric Murray</h4>
            <h5><a href="https://twitter.com/Pillsmurray">@Pillsmurray</a></h5>
          </div>
        </div>
        </div>
      </div>
<% include foot.ejs %>