      <div class="footer">
        <p>&copy;  StudyBuddy | dev@studybuddy.com</p>
      </div>
  </div> <!-- /container -->
  
  <!-- load js at end -->
  <script src="http://code.jquery.com/jquery.js"></script>

  </body>
</html>