  <% if (user) { %>
    <% include head_user.ejs %>
    <div class="jumbotron">
      <h1 class="studybuddy">StudyBuddy</h1>
      <p>Placeholder text for user stage here</p>
      <p class="Connect">Connect with your classmates today!</p>
      <p><a class="btn btn-lg btn-success" href="/register" role="button">Get Better Grades Now</a></p>
    </div>
  <% } else {%>
    <% include head.ejs %>
    <div class="jumbotron">
      <h1 class="studybuddy">StudyBuddy</h1>
      <p class="Nervous">Nervous for an exam? You're not alone.</p>
      <p class="Connect">Connect with your classmates today!</p>
      <p><a class="btn btn-lg btn-success" href="/register" role="button">Get Better Grades Now</a></p>
    </div>
  <% } %>

<% include foot.ejs %>